*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
  /* Deixando o tamanho da font em 10px para facilitar a proporcionalidade e o cálculo */
  font-size: 62.5%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 10vh;
    background-color: #169ca653;
    border-color: #1277BD;
    border-width: 1px;
    border-style: solid;
}

header h1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

header nav ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    color: #1277BD;

}

header nav ul li a{
    display: flex;
    margin: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #1277BD;
    font-size: 15px;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #169ca653;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border-color: #1277BD;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
}

.hero h2{
    margin-top: 15px;
    color: #1277BD;
    font-size: large;
    text-align: center;

}

.hero img{
    margin-top: 15px;
    max-width: 80vw;
    border-radius: 5px;
    border-color: #1277BD;
}

.hero-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    display: flex;
    width: 40vw;
    height: 12vh;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.918);
    border-color: rgba(255, 255, 255, 0.5);
    background-color: #1277BD;
    border-style: double;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 12px;
    gap: 10px;
}

.button img{
    width: 26px;
    height: 26px;
    background-color: aliceblue;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #169ca653;
    width: 100%;
    min-height: 10vh;
    border-color: #1277BD;
    border-width: 1px;
    border-style: solid;
}

#logo-footer{
    width: 80px;
    margin: 10px;
}

footer div a{
    color: #1277BD;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
}

.faq{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 5px;
}

.pergunta{
    font-weight: 700;
    font-size: 12px;
    color: #1277BD;
}
.resposta{
    color: #1277BD;
    padding-left: 20px;
}

.contato{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.link-contato{
    display: flex;
    flex-direction: row;
    align-items:center;
    font-weight: bold;
    color: #1277BD;
    font-size: 15px;
}

.link-img{
    color: #1277BD;
    width: 30px;
    padding: 10px;
}
